@model LibrarySystem.ViewModel.MemberLibrarianViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.password)
        </dd>
     
    </dl>
   
</div>
<div>
    <h4>Librarian</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Librarian.LibId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Librarian.LibId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Librarian.CollegeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Librarian.CollegeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Member.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
